{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>ACE : LegionCrew</title>
      <link rel="stylesheet" href={% static "assets/bootstrap/css/bootstrap.min.css"%}>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
      <link rel="stylesheet" href={% static "assets/fonts/font-awesome.min.css" %}>
      <link rel="stylesheet" href={% static "assets/css/styles.css" %}>
   </head>
   <body>
      <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
         <div class="container">
            <a class="navbar-brand" href="/">ACE: LegionCodex/Crew</a>
            <div
               class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="nav navbar-nav ml-auto"></ul>
            </div>
         </div>
      </nav>
      <header class="masthead" style="background-image:url({% static 'assets/img/about-bg.jpg'%});">
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-md-10 col-lg-8 mx-auto">
                  <div class="site-heading">
                     <h1>Our Awesome Crew</h1>
                     <span class="subheading">Meet the team</span>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <div class="container" >
      <div style="margin-left: 15%;">
         <div>
            <div class="row">
               <div class="hover01">
                  <figure><img src={% static "assets/img/krupa.png"%} style="width: 250px;height: 250px;margin: -4px;"></figure>
               </div>
               <div class="col-md-10 col-lg-8 mx-auto">
                  <p id="name" style="height: 2px;font-family: 'Open Sans', sans-serif;">print("Krupa")</p>
                  <p id="name1" style="height: 31px;"><br>crew.work="Organiser"<br><br></p>
                  <p>crew.class={"II", "CSE", "B"}</p>
                  <ul class="list-inline text-center" style="width: 218px;">
                     <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://github.com/itspacchu"><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a></span></li>
                     <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://www.youtube.com/channel/UCpVLV3pxEJHfUqz6FG199Uw"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a></span></li>
                  </ul>
               </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
               <div class="row">
                  <div class="hover01">
                     <div>
                        <figure><img src={% static "assets/img/Prashant.png"%} style="width: 250px;height: 250px;margin: -4px;"></figure>
                     </div>
                  </div>
                  <div class="col-md-10 col-lg-8 mx-auto">
                     <p id="name" style="height: 2px;font-family: 'Open Sans', sans-serif;">print("Prashant")</p>
                     <p id="name1" style="height: 31px;"><br>crew.work="Lead_Developer"<br><br></p>
                     <p>crew.class={"II", "ECE", "B"}</p>
                     <ul class="list-inline text-center" style="width: 218px;">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://github.com/itspacchu"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://www.linkedin.com/in/prashant-nandipati-077620197/"><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></a></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://www.youtube.com/channel/UCpVLV3pxEJHfUqz6FG199Uw"><i class="fa fa-youtube fa-stack-1x fa-inverse"></i></a></span></li>
                     </ul>
                  </div>
               </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
               <div class="row">
                  <div class="hover01">
                     <div>
                        <figure><img src={% static "assets/img/vijay.png"%} style="width: 250px;height: 250px;margin: -4px;"></figure>
                     </div>
                  </div>
                  <div class="col-md-10 col-lg-8 mx-auto">
                     <p id="name" style="height: 2px;font-family: 'Open Sans', sans-serif;">print("Vijay")</p>
                     <p id="name1" style="height: 31px;"><br>crew.work="Web_Host"<br><br></p>
                     <p>crew.class={"I", "CSE", "A"}</p>
                     <ul class="list-inline text-center" style="width: 218px;">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://instagram.com/temperature_block"><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://github.com/manbonpan"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a></span></li>
                     </ul>
                  </div>
               </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
               <div class="row">
                  <div class="hover01">
                     <div>
                        <figure><img src={% static "assets/img/rohan.png"%} style="width: 250px;height: 250px;margin: -4px;"></figure>
                     </div>
                  </div>
                  <div class="col-md-10 col-lg-8 mx-auto">
                     <p id="name" style="height: 2px;font-family: 'Open Sans', sans-serif;">print("Rohan")</p>
                     <p id="name1" style="height: 31px;"><br>crew.work="Frontend_Dev"<br><br></p>
                     <p>crew.class={"I", "CSE", "A"}</p>
                     <ul class="list-inline text-center" style="width: 218px;">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://github.com/itspacchu"><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><a href="https://www.linkedin.com/in/prashant-nandipati-077620197/"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a></span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <hr>
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-10 col-lg-8 mx-auto">
                  <p class="text-muted copyright">Made with ❤ by Prashant</p>
               </div>
            </div>
         </div>
      </footer>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/js/clean-blog.js"></script>
   </body>
</html>