{% load static %}
<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>LegionCrew</title>
      <link rel="stylesheet" href={% static "assets/bootstrap/css/bootstrap.min.css"%}>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
      <link rel="stylesheet" href={% static "assets/fonts/font-awesome.min.css" %}>
      <link rel="stylesheet" href={% static "assets/css/styles.css" %}>
   </head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="{% url 'form-page' %}">LegionCodex/tiktok</a>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('https://i.gyazo.com/c9132488e49eaca2908282615e8eca1d.gif');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading" style="min-height: 0px;width: 741px;">
                        <h1>#UninstallTiktok</h1>
                        <div id='foopa' class='subheading'></div>
                        <script>
                            const messages = ['You snoopin kiddo', 'Why you still usin tiktok gtfo', 'tiktok sux m8', 'vine rules',"The non cancer section","I swear everything on this is accurate af"];
                            const randomIndex = Math.round(Math.random()*messages.length);
                            document.getElementById("foopa").innerHTML = messages[randomIndex];
                        </script>
                        
                        </span></div>
                </div>
            </div>
        </div>
    </header>
                <blockquote class="reddit-card" data-card-created="1591095319"><a href="https://www.reddit.com/r/technology/comments/fablco/reddit_ceo_tiktok_is_fundamentally_parasitic/">Reddit CEO: TikTok is ‘fundamentally parasitic’</a> from <a href="http://www.reddit.com/r/technology">r/technology</a></blockquote>
                <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
                <hr>

                <a class="embedly-card" href="https://www.reddit.com/r/technology/comments/fablco/reddit_ceo_tiktok_is_fundamentally_parasitic/fix131b">Card</a>
                <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>

                <hr>

                <blockquote class="reddit-card" data-card-created="1591095487"><a href="https://www.reddit.com/r/facepalm/comments/dsvcgz/yeah_i_get_it_no_tiktok_but_this_cracked_me_up/">Yeah, I get it. No TikTok but this cracked me up</a> from <a href="http://www.reddit.com/r/facepalm">r/facepalm</a></blockquote>
                <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>

                <hr>
                <div class="container col-10">
                <h2> Use reddit bois much better </h2>
                <a class="btn btn-outline-info" href='https://reddit.com'>Reddit</a>
                </div>

    <footer>
      <div class="container">
         <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
               <p class="text-muted copyright">Made with ❤ by Prashant</p>
            </div>
         </div>
      </div>
   </footer>
   <script src={% static "/assets/js/jquery.min.js" %}></script>
   <script src={% static "/assets/bootstrap/js/bootstrap.min.js" %}></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
   <script src={% static "/assets/bootstrap/js/bootstrap.min.js" %}></script>
   </body>

</html>